.gwt-TabLayoutPanel {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border: solid 1px #444;
  border-radius: 5px;
  background-color: rgba(85,85,85,0.3); 
  
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  cursor: pointer;
  cursor: hand;
  font-size:14px;
  font-weight:bold;
  color: #FFFFFF;
  -webkit-stroke-width: 1.0px;
  -webkit-stroke-color: #000000;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 2px 2px 2px #333333;
  text-align: center;
  background-color: rgba(85,85,85,0.3); 
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  background-color: rgba(136,136,136,0.4); 
  box-shadow: 0 0 5px #888;
}

.gwt-DisclosurePanel {
}
.gwt-DisclosurePanel-open {
}
.gwt-DisclosurePanel-closed {
}
.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
  text-decoration: none;  /* Remove underline from header */
  color: black; 
  cursor: pointer;
  cursor: hand;
}
.gwt-DisclosurePanel .content {
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}