/*Commons Styles*/
.pointerHand {
    cursor:pointer;
}
.center{
    margin:auto;
    text-align:center;
}

/* Separator View */
.separatorExpand {
	float:left;
	cursor:pointer;
    margin-left:5px;
	padding-right:10px;
}
.separatorTitle {
	cursor:pointer;
    font-weight:bold;
    font-size:14px;
    color:#DDDDDD;
	margin-left:20px;
	padding-right:5px;
}
.separatorRed {
	background-color:#ac171a;
    border-radius:5px;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:15px;
    height:3px;
    width:85%
}

/* Main window styles */
.mainPanel {
	width: 100%;
    background-color: #000000; 
	/*background: #000000 url(images/background.png) bottom right no-repeat;*/
	background-attachment:fixed;
	color: #FFFFFF;
}
.tabPanel {
	width:80%;
	height:100%;
	margin: auto;
	background: #000000 url(images/background.png) bottom right no-repeat;
}
.mainScroll {
	width:100%;
	height:100%;
}

/*Search Style*/

.searchPanel {
	padding-bottom: 10px;	
}

.searchLabel{
	color:#ac171a;
	font-weight:bold; 
}

/* Theater style */
.theaterTab{
	width:100%;
    padding: 10px;
}

.theaterResultList{
	width: 100%;
	/*background: rgba(136,136,136,0.2);*/
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.theaterResultHeader{
	width: 100%;
	padding: 5px;
	margin-bottom: 15px;
	/* background-color: #ac171a;*/
	/* background-color: rgba(172, 23, 26, 0.5); */
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.theaterResultLabel{
	color:#ac171a;
	font-weight:bold;
    font-size:14px;
}


.theaterContent {
	width: 100%;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.theaterDisclosure {
	text-align:center;
	margin:auto;
}

.theaterPanelHeader {
	padding-bottom: 5px;
}

.theaterNameHeader {
    color: #aaaaaa;
    cursor:pointer;
    font-weight:bold;
    font-size:16px;
}
.theaterInfoHeader {
    color: #696969;
    font-style:italic;
}

.theaterCoverlflow {
	width: 100%;
	text-align:center;
	padding-top: 10px;
	background: transparent;
}
.imgRight{
	width:30px;
	height:30px;
}

/* Movie style */
.moviePoster{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;	
}
.movieName {
    font-weight:bold;
    font-size: 25px;
    color:#ac171a;
    padding-right:1em;
    padding-bottom:10px;
}
.movieLabel {
    color:#ac171a;
    font-weight:bold; 
    padding-right:5px;
    padding-bottom:10px;
}
.movieSeparator {
	cursor:pointer;
    font-weight:bold;
    font-size:14px;
    color:#DDDDDD;
	padding-left:5px;
	padding-right:5px;
}


/*Reviews*/
.reviewRate{
	padding-right:10px;	
}
.reviewLabel{
	padding-right:5px;	
}

/* Projections */
.projectionsCaption {
    font-weight:bold;
    font-size:14px;
    width:100%;
}
.projectionsContent {
    font-size:12px;
    font-weight:normal;
}
.projectionPassed{
    font-style:italic; 
    color:#3C3C3C; 
}
.projectionNear{
    font-weight:bold; 
    color:#D2D2D2; 
}
.projectionFutur{
    font-weight:normal; 
    color:lightgrey; 
}

/*GWT Redefinition elements*/
.gwt-TabPanel { 
	border-radius: 10px !important;
}

.gwt-TabPanelBottom {

}