/*Commons Styles*/
.pointerHand {
    cursor:pointer;
}
.center{
    margin:auto;
}

/* Separator View */
.separatorExpand {
	float:left;
	cursor:pointer;
    margin-left:5px;
	padding-right:10px;
}
.separatorTitle {
	float:left;
	cursor:pointer;
    font-weight:bold;
    font-size:14px;
    color:#DDDDDD;
	margin-left:5px;
	padding-right:5px;
}
.separatorRed {
	background-color:#ac171a;
    border-radius:5px;
	margin-left:20px;
    height:4px;
    width:100%
}

/* Main window styles */
.mainPanel {
	width: 100%;
    background-color: #000000; 
	/*background: #000000 url(images/background.png) bottom right no-repeat;*/
	background-attachment:fixed;
	color: #FFFFFF;
}
.tabPanel {
	width:1024px;
	height:550px;
	margin: auto;
	background: #000000 url(images/background.png) bottom right no-repeat;
}
.mainScroll {
	width:100%;
	height:500px;
}
.mainVert {
	width:100%;
}

/*Search Style*/

.searchLabel{
	color:#ff0000;
	font-weight:bold; 
}

/* Theater style */
.theaterPanelHeader {
	background: rgba(136,136,136,0.2);
	border-radius: 10px;
}
.theaterNameHeader {
    color: #aaaaaa;
    cursor:pointer;
    font-weight:bold;
    font-size:16px;
}
.theaterInfoHeader {
    color: #696969;
    font-style:italic;
}
.theaterContent {
	width: 100%;
	padding-right:10px;
	padding-left:10px;
}
.theaterCoverlflow {
	width: 100%;
	text-align:center;
	background: rgba(136,136,136,0.2);
	border-radius: 10px;
}
.imgRight{
	width:30px;
	height:30px;
}

/* Movie style */
.moviePoster{
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	padding-left:10px;	
}
.movieName {
	padding-top:50px;
    font-weight:bold;
    font-size:16px;
    color:#ff0000;
    padding-right:1em;
}
.movieLabel {
    color:#ff0000;
    font-weight:bold; 
    padding-right:5px;
    padding-bottom:10px;
}
.movieSeparator {
	cursor:pointer;
    font-weight:bold;
    font-size:14px;
    color:#DDDDDD;
	padding-left:5px;
	padding-right:5px;
}


/*Reviews*/
.reviewRate{
	padding-right:10px;	
}
.reviewLabel{
	padding-right:5px;	
}

/* Projections */
.projectionsCaption {
    font-weight:bold;
    font-size:14px;
    width:100%;
}
.projectionsContent {
    font-size:12px;
    font-weight:normal;
}
.projectionPassed{
    font-style:italic; 
    color:#3C3C3C; 
}
.projectionNear{
    font-weight:bold; 
    color:#D2D2D2; 
}
.projectionFutur{
    font-weight:normal; 
    color:lightgrey; 
}

/*GWT Redefinition elements*/
.gwt-TabPanel { 
	border-radius: 10px !important;
}

.gwt-TabPanelBottom {

}