/*Commons Styles*/
.pointerHand {
    cursor:pointer;
}
.center{
    margin:auto;
    text-align:center;
}

/* Separator View */
.separatorExpand {
	float:left;
	cursor:pointer;
    margin-left:0px;
    margin-bottom:5px;
}
.separatorTitle {
	cursor:pointer;
    font-weight:bold;
    font-size:14px;
    color:#DDDDDD;
	margin-left:20px;
	padding-right:5px;
}
.separatorRed {
	background-color:#ac171a;
    border-radius:5px;
	margin-left:30px;
	margin-top:5px;
	margin-bottom:15px;
    height:3px;
    width:85%
}

/* Main window styles */
.mainPanel {
	width: 100%;
    background-color: #000000; 
	/*background: #000000 url(images/background.png) bottom right no-repeat;*/
	background-attachment:fixed;
	color: #FFFFFF;
}
.tabPanel {
	width:80%;
	height:100%;
	margin: auto;
	background: #000000 url(images/background.png) bottom right no-repeat;
}
.mainScroll {
	width:100%;
	height:100%;
}

/*Search Style*/

.searchPanel {
	padding-bottom: 10px;	
}

.searchLabel{
	color:#ac171a;
	font-weight:bold; 
}

/* Theater style */
.theaterTab{
	width:100%;
    padding: 10px;
}


.theaterResultHeader {
	width: 100%;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 10px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

.theaterResultLabel {
	color:#FFF;
	font-size:14px;
	font-weight:bold; 
}

.theaterResultList{
	width: 100%;
	/*background: rgba(136,136,136,0.2);*/
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.theaterContent {
	width: 100%;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.theaterDisclosure {
	text-align:center;
	margin:auto;
}

.theaterPanelHeader {
	padding-bottom: 5px;
}

.theaterNameHeader {
    color: #aaaaaa;
    cursor:pointer;
    font-weight:bold;
    font-size:16px;
}
.theaterInfoHeader {
    color: #696969;
    font-style:italic;
}

.theaterCoverlflow {
	width: 100%;
	text-align:center;
	padding-top: 10px;
	background: transparent;
}
.imgRight{
	width:10px;
	height:10px;
}

/* Movie style */
.movieContent {
	padding: 10px;
}

.moviePoster{
	padding: 10px;	
}
.movieName {
    font-weight:bold;
    font-size:24px;
	padding-bottom:10px;
    color:#ac171a;
}

.movieLabel {
    color:#ac171a;
    font-weight:bold; 
    padding-right:5px;
    padding-bottom:10px;
}
.movieSeparator {
	cursor:pointer;
    font-weight:bold;
    font-size:14px;
    color:#DDDDDD;
	padding-left:5px;
	padding-right:5px;
}


/*Reviews*/
.reviewRate{
	padding-right:10px;	
}
.reviewLabel{
	padding-right:5px;	
}

/* Projections */
.projectionsCaption {
    font-weight:bold;
    font-size:14px;
    width:100%;
}
.projectionsContent {
    font-size:12px;
    font-weight:normal;
}
.projectionPassed{
	margin-left:5px;
	margin-bottom:5px;
    font-style:italic; 
    color:#3C3C3C; 
}
.projectionNear{
	margin-left:5px;
	margin-bottom:5px;
    font-weight:bold; 
    font-size:14px;
    color:#D2D2D2; 
}
.projectionFutur{
	margin-bottom:5px;
	margin-left:5px;
    font-weight:normal; 
    color:lightgrey; 
}
